* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
	background: linear-gradient(to right, #f6703d , #cc2e82) no-repeat center center/cover; /* Standard syntax */
}

.container {
    vertical-align: middle;
}

h1 {

    order: 0;
    flex-basis: 100%;
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    margin: 2em 1em 1em 1em;
}

h2 {

    order: 2;
    font-size: 2em;
    flex-basis: 100%;
    margin: 1em auto;
}

h3 {

    order: 3;
    flex-basis: 100%;
    margin: 1em auto;
	font: 900 1.4em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}

input {
    
    order: 1;
    flex-basis: auto;
    height: 3em;
    width: 5em;
    margin: 0.5rem 0.5rem;
    border-radius: 5%;
    border: 0.5px solid white;
    vertical-align: middle;
    cursor: pointer;
}

button {

    order: 1;
    flex-basis: auto;
    margin: 0.5rem 0.5rem;
    padding: 0.25rem;
    font: 700 1em 'Raleway', sans-serif;
    color: floralwhite;
    border-radius: 5%;
    border: 3px solid white;
    vertical-align: middle;
    background-color:rgba(0,0,0,.5);
    cursor: pointer;
}

@media (max-width: 500px) { 
    h1 {
        font: 600 2em 'Raleway', sans-serif;
        letter-spacing: .4em;
    }

    h2 {
        font-size: 1.3em;
        letter-spacing: .4em;
        margin-top: 5%;
   }
}



